.welcome-text-container {
    text-align: center;
    padding-bottom: 20px;
}

.link-active {
    text-decoration: underline;
}

.w3-row > a {
    cursor: pointer !important;
    color: #3294ea;
    padding: 10px;
    margin-left: 20px;
}

.link-wrapper {
	display: flex;
    justify-content: space-around;
}

.add-edit-link-container {
    margin-top: 10px;
}

.add-site-link {
    color: #00aa00 !important;
}

.edit-site-link {
    color: grey !important;
}

.delete-site-link {
    color: #aa0000 !important;
}